## -*- coding: utf-8 -*-

<!doctype html>
<html>
	<head>
		<title><%block name="title">Top</%block> &ndash; I, Hacker</title>
		<link rel="icon" type="image/png" href="favicon.png" />
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" media="all" href="reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="960.css" />
		<link rel="stylesheet" type="text/css" media="all" href="style.css" />
	</head>
	<body>
		<div class="container_12">
			<div class="grid_4 header">
				<a href="index.html" class="title">I, Hacker</a>
			</div>
			<div class="grid_8 subtitle header">
				Hacking and music and activism, oh my!
			</div>

			<div class="grid_8 suffix_1">
				${self.body()}
			</div>

			<div class="grid_3 sidebar">
				I'm <a href="http://en.wikipedia.org/wiki/Cody_Brocious">Cody Brocious</a>, a reverse-engineer and senior security consultant with Accuvant LABS' AppSec team.<br>
				<br>
				I'm a voracious reader, world traveler, molecular gastronomy nerd, and demoscener. I always enjoy meeting new people; don't be shy about reaching out to me.<br>
				<ul>
					<li><a href="mailto:cody.brocious+blog@gmail.com">cody.brocious@gmail.com</a></li>
					<li><a href="http://twitter.com/daeken">@daeken</a></li>
				</ul>
				<a href="archive.html">Archive</a><br>
				<br>
				<b>My opinions are my own and nothing on this blog is representative of my employer in any way.</b><br>
				<br>
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-9858891271385625";
				/* Blog */
				google_ad_slot = "7225955788";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-9560149-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>