body {
	background: url(satinweave.png) repeat;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 110%;
}

.header {
	padding-bottom: 2em;
}

.title {
	color: #004B63;
	font-size: 4em;
}

.subtitle {
	color: #004B63;
	font-size: 2em;
	padding-top: 1em;
	text-align: right;
}

h1.post-title {
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
}

.date {
	color: #636363;
	margin-top: 1.0em;
	text-align: right;
}

a {
	text-decoration: none;
	color: #047F91;
}

.pagenav {
	font-size: 1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}

ul {
	list-style-type: square;
}

pre {
	padding-left: 0.5em;
	margin-left: 1em;
	border-left: 2px solid #047F91;
	height: 100%;
}

code {
	font-family: 'Cutive Mono', serif;
}

.sidebar {
	margin-top: 1.0em;
}

blockquote {
	padding-left: 0.5em;
	margin-left: 1em;
	border-left: 2px solid #636363;
	height: 100%;
}

.post-body {
	margin-bottom: 2em;
}